/* Write your CSS here */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.head {
  font-size: 28px;
  font-weight: 500;
  color: black;
  font-style: Lobster;
  align-self: center;
}
.order {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.unorder {
  display: flex;
  flex-direction: row;
  align-self: center;
}
.loader {
  align-self: center;
}
